<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>board.servlet.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/BoardListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDetailServlet</display-name>
    <servlet-name>BoardDetailServlet</servlet-name>
    <servlet-class>board.servlet.BoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDetailServlet</servlet-name>
    <url-pattern>/BoardDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardAddServlet</display-name>
    <servlet-name>BoardAddServlet</servlet-name>
    <servlet-class>board.servlet.BoardAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAddServlet</servlet-name>
    <url-pattern>/BoardAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardInsertServlet</display-name>
    <servlet-name>BoardInsertServlet</servlet-name>
    <servlet-class>board.servlet.BoardInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInsertServlet</servlet-name>
    <url-pattern>/BoardInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>board.servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardModifyServlet</display-name>
    <servlet-name>BoardModifyServlet</servlet-name>
    <servlet-class>board.servlet.BoardModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardModifyServlet</servlet-name>
    <url-pattern>/BoardModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardFileDownServlet</display-name>
    <servlet-name>BoardFileDownServlet</servlet-name>
    <servlet-class>board.servlet.BoardFileDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFileDownServlet</servlet-name>
    <url-pattern>/BoardFileDownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pagination</display-name>
    <servlet-name>Pagination</servlet-name>
    <servlet-class>board.servlet.Pagination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagination</servlet-name>
    <url-pattern>/Pagination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TBoardDeleteServlet</display-name>
    <servlet-name>TBoardDeleteServlet</servlet-name>
    <servlet-class>board.servlet.TBoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TBoardDeleteServlet</servlet-name>
    <url-pattern>/TBoardDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TBoardUpdateServlet</display-name>
    <servlet-name>TBoardUpdateServlet</servlet-name>
    <servlet-class>board.servlet.TBoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TBoardUpdateServlet</servlet-name>
    <url-pattern>/TBoardUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>